body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 70vw;
  height: 500px;
  margin-top: 50px; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 3px solid #4C275C;
  border-radius: 20px; 
}

.scores{
  display: flex;
  justify-content: space-around;
  background: darkgray;
  border-radius: 3px;
  width: 85%;
  margin: 0 auto;
  line-height: 3rem;
}

.score{
  font-size: 1.2rem;
  color: #fff;
}

.selections-container {
  display: flex;
  flex-direction: row;
}

.selections, .palyers-container {
  display: flex;
  justify-content: space-evenly;
}

.selection-btn {
  border: none;
  background: none;
  width: 100px;
  cursor: pointer;
}

.players {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}